* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', 'StratosSkyeng', sans-serif;
    font-size: 16px;
    background-color: white;
}

div {
    width: 500px;
    height: 400px;
    background-color: rgba(126, 255, 255, 0.55);
    margin: 90px auto;
    border-radius: 25px;
    position: relative;
}

h1 {
    position: absolute;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

form {
    position: absolute;
    width: 400px;
    margin: 65px 60px;
}

label {
    background-color: rgba(255, 244, 141, 0.744);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

input {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 14px;
    line-height: 150%;
    font-size: 23px;
    box-sizing: border-box;
    width: 100%;
}

button {
    padding: 9px 30px;
    border-radius: 32px;
    background-color: #8D39C0;
    color: white;
    border: none;
    width: min-content;
    cursor: pointer;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 110px;
}